<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Nerd Night</h2>
              <br/>
                <p>Nerd Night is a Los Angeles based community of curious intellectuals who believe in lifelong learning and the power of sharing knowledge.
                Our goal is to provide a space for people to get together and geek out about the things they're passionate about.
                Whether you're into science, history, art, or anything else, there's a place for you here.</p>
                <p>Each Nerd Night is hosted by a member of our community and consists of four speakers. Previous talks have ranged in length (10-30mins) and have included: How to Make an Award Winning Wine, Simulation Theory, and Building 3D Printed Rockets.</p>
                <p>Come join and satisfy your curiosity!</p>
                <br/>
              </div>
        </div>

      </section>
